<h1 mat-dialog-title>{{ data._id ? 'Edit Task' : 'Create Task' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="taskForm">
    <mat-form-field appearance="fill">
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Assigned To</mat-label>
		<mat-select formControlName="assignedTo">
			<mat-option *ngFor="let user of allowedUsers" [value]="user">{{ user.username }}</mat-option>
		  </mat-select>
	</mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>
