<mat-toolbar class="toolbar">
	<div class="left-side">
		<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
			<mat-icon>menu</mat-icon>
		</button>
		<span>NeJira</span>
	</div>
	<div class="right-side">
		<ng-container *ngIf="!isLoggedIn">
			<button mat-raised-button color="primary"
					routerLink="/login"
			>Login</button>
			<button mat-raised-button
					routerLink="/register"
			>Sign up</button>
		</ng-container>
		<ng-container *ngIf="isLoggedIn">
			<button mat-raised-button color="primary"
					(click)="logout()"
			>Logout</button>
		</ng-container>
	</div>
</mat-toolbar>