@import '../../../assets/variables';

.tasks {
	min-height: calc(100vh - 100px);
	display: flex;

	.sidebar {
		min-height: calc(100vh - 100px);
		min-width: 250px;
		border-right: 4px solid $background-color;

		.project-info {
			padding: 20px;
			border-bottom: 4px solid $background-color;

			.project-name {
				margin: 0;
			}
		}

		.nav {
			padding: 20px;

			.nav-item {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				padding: 10px 15px;
					
				background-color: $background-color;
				border-radius: 8px;
				cursor: pointer;

				h4 {
					margin: 0;
				}

				&:hover, &.active {
					background-color: $background-color-selected;
				}
			}
		}
	}

	.board-main {
		//min-height: calc(100vh - 100px);
		padding: 20px;
		width: 100%;
	
		.board-header {
			height: 150px;

			.board-route {
				display: flex;
				gap: 5px;
				margin: 0;

				a {
					cursor: pointer;
					color: $font-color;

					&.clickable:hover {
						text-decoration: underline;
					}
				}
			}

			.board-sprint-info {
				display: flex;
				justify-content: space-between;

				.board-text-info {
					.board-title {
						margin: 0;
					}
	
					.board-description {
						margin: 0;
					}
				}
			}
		}
	
		.board-content {
			min-height: calc(100% - 150px);
			//background-color: rgb(115, 118, 113);
			position: relative;

			.no-content {
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				display: flex;
				align-items: center;

				.start-sprint {
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			.tasks-list {
				display: flex;
				flex-direction: column;

				.card {
					background-color: $background-color;
					border-radius: 8px;
					padding: 10px 20px;
					margin: 5px 0;

					display: flex;
					gap: 20px;
					border: 2px solid transparent;

					&.header {
						margin: 20px 0;
						pointer-events: none;
					}

					h2, h3 {
						margin: 0;
					}

					.title {
						width: 40%;
					}

					.status {
						width: 20%;
					}

					.assignee {
						width: 10%;
					}

					&:hover {
						border: 2px solid $dark-color;
					}
				}
			}
		}
	}
}

