/* You can add global styles to this file, and also import other style files */
@import "./assets/_variables.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: $font-color; }
a { text-decoration: none; color: $main-btn-color-hover; }
